{% extends './layout.html' %}

{% block body %}
{% if current_user.is_authenticated %}
  {% if idR == 1%}
    {% include './admin.html' %}
  {% else %}
    {% include './usuario.html' %}
  {% endif %}
{% endif %}
<br><br><br>
<div class="container-fluid">
  <p class="h2 text-center">¿Qué deseas hacer?</p>
  <br>
  {% with messages = get_flashed_messages() %}

  {% if messages %}
  <br />
  {% for message in messages %}
  <div class="alert alert-primary alert-dismissible text-center" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <h1 class="h5 text-center">El directorio que elegiste es el: {{id}}</h1>
  <br>
  <div class="container-fluid">
    <div class="row">
      <div class="col-4">
        <div class="card text-center" style="height: 130px;">
          <div class="card-body">
            <p class="card-text">
              Descarga tus archivos
            </p>
            <form form action="/descarga" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
              <input type="hidden" name="server" value="{{id}}">
              <button type="submit" class="btn btn-primary">Descargar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center"  style="height: 130px;">
          <div class="card-body">
            <p class="card-text">
              Si tus archivos están completos y son correctos puedes liberar el directorio para que alguien más lo
              utilice
            </p>
            <form form action="/liberar" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
              <input type="hidden" name="server" value="{{id}}">
              <button type="submit" class="btn btn-success">Liberar</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card text-center "  style="height: 130px;">
          <div class="card-body">
            <p class="card-text">
              Si descargaste tus archivos y te diste cuenta que no van bien tus cálculos puedes detener el proceso
            </p>
            <form form action="/eliminar" method="POST" enctype="multipart/form-data">
              <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
              <input type="hidden" name="server" value="{{id}}">
              <button type="submit" class="btn btn-danger">Detener</button>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br>
{%include 'footer.html'%}
{% endblock %}