{% extends './layout.html' %}


{% block body %}
{% if current_user.is_authenticated %}
  {% if idR == 1%}
    {% include './admin.html' %}
  {% else %}
    {% include './usuario.html' %}
  {% endif %}
{% endif %}
<br><br>
<div class="container">
    <p class="h3 text-center">Estos son los directorios que haz utilizado</p>
    <br>
    <br>
    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <br />
    {% for message in messages %}
    <div class="alert alert-primary alert-dismissible" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="card text-center">
      <div class="card-header">
          Selecciona un directorio para descargar los archivos
      </div>
      <div class="card-body">
        <form form action="/accion" method="POST" enctype = "multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
          <input type="hidden" name="idU" value="{{current_user.id}}">
          <div class="mb-3">
            <select class="form-select" aria-label="Default select example" name="comp_select">
              {% for d in direc %}
                <option value="{{d}}">{{d}}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary">Seleccionar</button>
        </form>
      </div>
    </div>
    <br><br>
    <div class="container">
      <ol class="list-group">
        {% for nums in cd %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Directorio {{direc[cd.index(nums)]}}</div>
                {{nums}}
          </div>
        {% endfor %}
      </ol>
    </div>
    <br><br><br><br>
</div>
<br><br><br>
{%include 'footer.html'%}
{% endblock %}
